/* Your other styles go here */
.RepsonseText {
  font-weight: bold;
  margin-bottom: 1rem;
}
.responseText{
  white-space: pre-wrap;
    max-width: 100%;
    overflow: hidden;
}
/* Style for the response card */
.responseCard {
  border-radius: 10px;
  padding: 1rem;
  background-color: transparent;
  box-shadow: #214055 0px 2px 7px;
  margin-bottom: 1rem; /* Add some space between the card and "Try Now" button */
  text-align: left; /* Align the text inside the card to the left */
}
.copy {
  background: transparent;
  color: rgb(33, 64, 85);
  border-color: rgb(33, 64, 85);
}
.copy:hover {
  background-color: #214055;
  color: white;
  border-color: rgb(33, 64, 85);
}
/* Style for the "Try Now" button */
.TryNow {
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  background-color: rgb(33, 64, 85);
  padding: 1rem;
  border-radius: 10px;
  font-size: 15px;
  margin: 1rem 0;
}
.TryNow:hover {
  background-color: rgb(54, 101, 133);
}

/* Center the "Try Now" button horizontally */
.GPTcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Center the card horizontally within the container */
