/* Your other styles go here */
.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom:50%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  inset: 0;
}
.RepsonseText {
  font-weight: bold;
  margin-bottom: 1rem;
}
.responseText {
  white-space: pre-wrap;
  max-width: 100%;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-family: "Young Serif", serif;
}
/* Style for the response card */
.responseCard {
  border-radius: 10px;
  padding: 1rem;
  background-color: transparent;
  box-shadow: #214055 0px 2px 7px;
  margin-bottom: 1rem; /* Add some space between the card and "Try Now" button */
  text-align: left; /* Align the text inside the card to the left */
  position: relative;
  overflow: hidden;
}
.copy {
  background: transparent;
  color: rgb(33, 64, 85);
  border-color: rgb(33, 64, 85);
}
.copy:hover {
  background-color: #214055;
  color: white;
  border-color: rgb(33, 64, 85);
}
/* Style for the "Try Now" button */
.TryNow {
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  background-color: #2394f7;
  padding: 1rem;
  border-radius: 10px;
  font-size: 15px;
  margin: 1rem 0;
}
.TryNoww {
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  padding: 1rem;
  border-radius: 10px;
  font-size: 15px;
  margin: 1rem 0;
  background-color: #214055;
}

.change{
  background-color: #2394f7;
  border: none;
}
.kuchbi{
  margin-top: 1rem;
  background-color: #214055;
  border: none;
  margin: 1rem;

}
.GPTButtons{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 1rem;
  
}
.change:hover {
  background-color: #2394f7b8;
}
.kuchbi:hover{
  background-color: #214055b8;
}

/* Center the "Try Now" button horizontally */
.GPTcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 
}
.ModiContainer {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 2rem;
}

@media (min-width: 1018px) {
  .ModiContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .GPTcontainer {
    max-width: 70%;
  }

}

@media (max-width: 640px) {
 .ChangeDiv{
  display: flex;
  flex-direction: column;
 }
 .change{
  margin: 0.5rem 4rem;
 }
 .GPTButtons{
  display: flex;
  flex-direction: column;
 }

}
/* Center the card horizontally within the container */
