.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.border {
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 2px solid #000;
  width: 80rem;
  max-width: 50%;
  min-height: 10rem; /* Set a minimum height to prevent the container from becoming too short */
  height: auto;
  display: inline-block;
  max-height: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  white-space: pre-wrap;
  justify-content: space-between;
}

.info{
  padding-top: 10px;
    display: flex;
    flex-direction: row; /* Make sure items are in a row */
    justify-content: space-between;
    align-items: start;
}

.subInfo{
  display: flex;
  flex-direction: row;
}

.rounded-image {
  border-radius: 100px;
  margin-right: 10px;
  margin-left: 5px;
  width: 50px; /* Adjust the width to your desired size */
  height: 50px; /* Maintain the aspect ratio */
}
.text {
  color: grey;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: start; /* Align items at the start of the container (top) */
}

.text p {
  margin: 0; /* Remove default margin to avoid extra spacing */
  text-align: left;
}
/* Add additional styling for the text if needed */
.textarea {
  padding: 10px;
  color: grey;
  max-width: 100%; /* Ensure the container doesn't exceed the screen width */
  overflow-wrap: break-word; /* Allow word wrapping */
}
.icons {
  display: flex;
  flex-direction: row;
  color: grey;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #d0d2d4; /* Simplified border property */
  align-self: flex-end;
}