* {
  background-color: #f6f4eb;
}
.Required{
  color: red;
}
.PostGenContaier {
  height: 100%;
}
.QCR {
  margin-bottom: 1rem;
}
/* Add this to your CSS file or style block */
.custom-accordion-content {
  max-height: 0;
  overflow: hidden;
      background-color: #2394f7;
      color: #ddd;
      border-radius: 7px;
      transition: 1s;
      outline: none;
      height: 0;
      text-align: left;
      border: 2px solid #ddd;
      visibility: hidden;
      font-size: 0;
  
}

/* Apply the custom-accordion-content class to the active items */
.custom-accordion-content.active {
  max-height: 1000px; /* Set a sufficiently high value to accommodate dynamic content */
  font-size: 16px;
  visibility: visible;
  word-wrap: break-word;
  height: auto;
  padding: 1rem;
  margin: 0 0 1rem;
  transition: height 0.3s linear, padding-top 0.3s linear, padding-bottom 0.3s linear, border-top-width 0.3s linear, border-top-width 0.3s linear;
}

.MainDesc {
  /* padding: 4r  em; */
  width: 100%;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  border: 2px solid lightgray; /* Add border */
  border-radius: 7px; /* Add border radius */
  outline: none;
}
/* Main.css */
.container {
  max-width: 900px; /* Set the maximum width to 800px */
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}
.heading {
  margin-top: 2rem;
}
.bold-text {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.creator-content {
  margin-top: 1rem;
  text-align: left;
}
.creator-content > label {
  margin-top: 1rem;
}
.creator-input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid lightgray; /* Add border */
  border-radius: 7px; /* Add border radius */
  outline: none; /* Remove outline */
}

.question-container {
  margin-top: 1.5rem;
  text-align: left;
}

.question-dropdown {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid lightgray; /* Add border */
  border-radius: 7px; /* Add border radius */
  outline: none; /* Remove outline */
}

.selected-question {
  margin-top: 1rem;
  text-align: left;
}

.answer-input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid lightgray; /* Add border */
  border-radius: 7px; /* Add border radius */
  outline: none; /* Remove outline */
}

.add-button {
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 0.6rem 0.3rem;
  /* background-color: #609cbbea; */
  background-color: #2394f7;
  margin-top: 1rem;
  width: 20%;
  color: white;
  transition: background-color 0.3s ease; /* Add transition for background-color */
}

.add-button:hover {
  background-color: #1e3946c4;
  background-color: #2394f7cb;
}

.submit-button {
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 0.6rem 0.3rem;
  /* background-color: #214055; */
  background-color: #2394f7;
  margin-top: 1rem;
  width: 100%;
  color: white;
  transition: background-color 0.3s ease;

  /* Add transition for background-color */
}

.submit-button:hover {
  /* background-color: #214055 */
  background-color: #2394f7d2;
}

.accordion-button {
  text-align: left;
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem 0;
  cursor: pointer;
  background-color: #2394f7;
  border: 2px solid #ddd;
  outline: none;
  transition: background-color 0.3s ease;
}

.accordion-button.active {
  /* background-color: rgb(10, 10, 10); */
  background-color: #127fdf;
  color: white;
}
.accordion-item {
  margin: 1rem 0;
  padding: 0;
  border: none;
}
.selected-question-container {
  max-height: 500px; /* Adjust the height as needed */
  overflow: hidden auto;
  margin-top: 1rem;
}
.answer-content {
  /* background-color: #396888; */
  background-color: #2394f7;
  color: #ddd;
  border-radius: 7px;
  transition: 1s;
  outline: none; /* Remove outline */
  height: 0;
  text-align: left;
  border: 2px solid #ddd;
  visibility: hidden;
  font-size: 0;
}
.accordion-button:not(.collapsed):after {
  display: none;
}
.answer-content.show {
  font-size: 16px;
  visibility: visible;
  word-wrap: break-word;
  height: auto;
  padding: 1rem;
  margin: 0 0 1rem;
  -webkit-transition: height 0.3s linear, padding-top 0.3s linear,
    padding-bottom 0.3s linear, border-top-width 0.3s linear,
    border-top-width 0.3s linear;
  transition: height 0.3s linear, padding-top 0.3s linear,
    padding-bottom 0.3s linear, border-top-width 0.3s linear,
    border-top-width 0.3s linear;
}
ul {
  list-style-type: none;
}

ul {
  padding-left: 0;
}
.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.accordion-button:not(.collapsed) {
  color: white;
  /* background-color: #214055; */
  background-color: #2394f7;
  margin: -1px;
}
.accordion-button:not(.collapsed)::after {
  color: #ddd;
  background-color: transparent;
}
/* Add sticky positioning to your navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100; /* Make sure it's on top of other content */
  background-color: #ffffff; /* Adjust the background color of your navbar */
}
.Pencil {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: -7px;
  right: -4px;
  font-size: 2rem;
  color: black;
}

@media only screen and (max-width: 540px) {
  .bold-text {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 800px; /* Set the maximum width to 800px */
    margin: 2rem 0;
    padding: 0 3rem;
    text-align: center;
  }
  .Pencil {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -7px;
    right: -4px;
    font-size: 2.5rem;
    color: black;
  }
  .PostGenContaier {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    text-align: center;
    justify-content: space-around;
  }

  .submit-button {
    letter-spacing: 5px;
    width: 200px;
    border: none;
    outline: none;
    position: absolute;
    top: 40%; /* Position in the middle vertically */
    right: 0%; /* Position on the right side */
    transform: translate(0, 50%); /* Center the button vertically */
    padding: 1rem 3.5rem;
    border-radius: 10px;
    background-color: #2394f7;
    color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: absolute;
    top: 300px;
    right: 10%;
  }
}
