* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 80px;
  color: black;
  border-bottom: 1px solid lightgray;
}

nav .Link {
  margin: 0 2rem;
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center; /* Vertically center items */
  width: 100%;
}
nav .Link:hover {
  margin: 0 2rem;
  color: rgba(0, 0, 0, 0.527);
  text-decoration: none;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.logo {
  flex: 1;
}

.LOGOLink {
  align-items: center;
  font-size: 20px;
}

.logo .LOGOImg {
  width: 100px;
  /* margin: 20px; */
  /* padding: 2rem; */
}
.nav-open-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
.Link {
  cursor: pointer;
}
.Menu svg {
  color: black;
}

.left-nav-items {
  display: flex; /* Display children in a row */
  align-items: center; /* Vertically center items */
}

/* Style for the right items */
.right-nav-items {
  display: flex; /* Display children in a row */
  align-items: center; /* Vertically center items */
  margin-left: auto;
}

.account-icon-container {
  display: flex;
  align-items: center; /* Vertically center items */
  margin-left: auto; 
}

.account-icon {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .Menu svg {
    color: aliceblue;
  }
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: all 0.6s;
    transform: translateX(150%);
  }

  header .responsive_nav {
    transform: none;
    z-index: 1;
    height: 100%;
    background-color: #150261;
  }

  .nav-close-btn {
    position: absolute;
    top: 1rem;
    right: 2rem;
    height: 100%;
    color: white;
  }

  nav .Link {
    color: white;
    height: 100%;
    font-size: 1.2rem;
  }

  .left-nav-items {
    display: flex; /* Display children in a row */
    align-items: center; /* Vertically center items */
    flex-direction: column;
    height: 400px;
  }
  
  /* Style for the right items */
  .right-nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* You can adjust the width as needed */
    flex-direction: column;
    height: 100px;
  }

  .right-nav-items a{
  align-self: center;
  }

  .nav{
    justify-content: center;
    align-items: center;
  }

  .account-icon {
    cursor: pointer;
    color: white;
  }
}
