.PostEditorContainer {
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
 

  .PostEditorSubContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
  }  

.CKEditor{
  max-Width: 500px
}

@media (max-width: 760px) {

  .PostEditorSubContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .CKEditor{
    max-Width: 100%;
    margin-bottom: 20px;
  }

}