.PostEditorContainer {
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
 

  .PostEditorSubContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
  }  

.CKEditor{
  max-Width: 500px
}

.TextArea{
    width: 40%; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    padding: 8px; /* Add padding for better visualization */
    border-radius: 8px; /* Add rounded corners */
    border: 1px solid #ccc; /* Add a border */
    margin-top: 20px; /* Add margin at the top */  
}

@media (max-width: 760px) {

  .PostEditorSubContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .TextArea{
    Width: 100%;
    margin-bottom: 20px;
  }

  .CKEditor{
    max-Width: 100%;
    margin-bottom: 20px;
  }

}