.TypographyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.Typography {
  flex: 1;
  text-align: center;
}

.IconButton {
  position: absolute;
  right: 10px;
}

/* CustomButton.css */
.upgrade-buuton {
  background-color: #007bff;
  color: #fff;
  border:none;
  border-radius: 5px;
  padding: 3px 10px;
}

.account-button{
  border: none;
  background-color: #23afff;
  color: white;
}

.account-button:hover{
  border: none;
  background-color: #2393f6;
}


.teams-link{
  text-decoration: none;
  color: black;
}
