.teams-details-container{
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    padding: 2rem;
    justify-content: space-between;
}

.teams-details-header
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.left-info {
    text-align: left;
    width: 100%;
  }
  
  .center-info {
    text-align: center;
    
  }

.members {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.memberButtons{
  display: flex;
  flex-direction: row;
}

.h3Buttons:hover{
color: lightgray;
cursor: pointer;
}