.teams-container{
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    padding: 2rem;
    justify-content: space-between;
}

.my-teams {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
 
.joined-teams{
   
}

.team-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #150261;
}
  
  .team-name {
    flex-grow: 1;
    color: white;
    font-size: larger;
  }
  
  .dashboard-button {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
  }
  

.display-teams{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.FormLinks > button {
    border: none;
    outline: none;
    padding: 0.6rem;
    border-radius: 10px;
    background-color: #2394f7;
    color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.FormLinks > button:hover {
    background-color: #2394f7bb;
}

.groupsIcon{
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -10px;
    right: -6px;
    font-size: 2.5rem;
    color: black;     
}

.slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}