@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Young+Serif&family=Inter:wght@400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Young Serif", serif;
  color: #000000;
}
.Toastify__toast {
  background-color: #150261 !important;
}
.Toastify__toast-body {
  color: #ffffff !important;
}
