@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Young+Serif&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Young Serif", serif;
  color: #000000;
}